.titulo-terminos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.h1-terminos{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-decoration: underline;
}
.parrafo{
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.terminos {
    --ion-background-color: transparent;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/lacocinadecarmen-irg.appspot.com/o/fondos%2FIdentificaci%C3%B3n%20y%20T%C3%A9rminos%2Fterminos.jpg?alt=media&token=9fc9e97c-b892-47d2-b44b-861f82519e69&_gl=1*zx3il4*_ga*NTE5ODQ3NjM2LjE2ODQ2NzkwMTU.*_ga_CW55HF8NVT*MTY4NTg5OTY4OC4zNS4xLjE2ODU4OTk4NjEuMC4wLjA.");
    background-size: cover;
    font-weight: bold;
  }

  .terminos::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/lacocinadecarmen-irg.appspot.com/o/fondos%2FIdentificaci%C3%B3n%20y%20T%C3%A9rminos%2Fterminos.jpg?alt=media&token=9fc9e97c-b892-47d2-b44b-861f82519e69&_gl=1*zx3il4*_ga*NTE5ODQ3NjM2LjE2ODQ2NzkwMTU.*_ga_CW55HF8NVT*MTY4NTg5OTY4OC4zNS4xLjE2ODU4OTk4NjEuMC4wLjA.");
    background-size: cover;
    filter: blur(2px);
  }

  #icono{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: -35px;
    margin-left: 15px;
  }