.splashContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999999;
    left: 0;
    top: 0;
    background-image: url("../../assets/portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .splashContainer.hidden {
    opacity: 0;
  }
  
  .splashContainer.show {
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  