/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #BF7E04;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  /** secondary **/
  --ion-color-secondary: #74472f;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
}