.main-title {
    color: white;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  .custom-header {
    background-color: #74472f;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

  .custom-toolbar {
    --background: #74472f; /* Cambia el color de fondo del toolbar */
    --color: white; /* Cambia el color del texto del toolbar */
}

.custom-content{
    --background: #e0e0e0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.searchBar{
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h1{
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #74472f;
  text-align: center;
}

.encabezado {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icono{
  font-size: 24px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: #74472f;
}

.filters-body {
  background-color: #D9CCC5;
  margin-left: 30px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 190px;
}

.icon,
.icon2 {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: auto;
}

.filtros {
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-right: 300px;
}

.subdesplegable {
  background-color: #D9CCC5;
  margin-left: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 150px;
}

.subdesplegable label {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.subdesplegable label input[type="checkbox"] {
  margin-right: 8px;
}

.subdesplegable label span {
  display: inline-block;
  padding: 2px 4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.checkbox{
  display: flex;
  align-items: center;
  margin-right: 10px;
}