/* Estilos generales */
.main-title {
  color: white;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom-toolbar {
  --background: #74472f;
  --color: white;
}

#contentInicio{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/lacocinadecarmen-irg.appspot.com/o/fondos%2FGenerales%2Ffondo3.jpg?alt=media&token=4a5054a7-66ca-4f4a-b742-0018eecefb94&_gl=1*17sbacb*_ga*NTE5ODQ3NjM2LjE2ODQ2NzkwMTU.*_ga_CW55HF8NVT*MTY4NTYzMTk3Ny4yOS4xLjE2ODU2NDA4NjMuMC4wLjA.');
  --background: var(--background);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Estilos generales de la tabla */
table {
  width: 100%;
}

td {
  text-align: center;
}

.titulo-inicio{
  font-size: 35px;
  color: #74472f;
  text-align: center;
}

.card{
  height:22.5vh;
  width: 90%;
  border: solid #74472f 1.5px;
  transition: transform 0.4s ease;
}

.card:hover,
.card:focus {
  transform: scale(0.95);
}

.ultimaCarta{
  border: solid #74472f 1.5px;
  transition: transform 0.4s ease;
}

.ultimaCarta:hover,
.ultimaCarta:focus {
  transform: scale(0.95);
}

.titulo-card{
  margin-top: -9%;
}

.link{
  text-decoration: none;
}

.imagen{
  border-bottom: #74472f solid 1px;
}

.header-title{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#custom-title{
  margin-bottom: 15px;
}