/* Estilos generales */
.main-title {
  color: white;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom-toolbar {
  --background: #74472f;
  --color: white;
}

.custom-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --background: linear-gradient(to bottom, #D9CCC5, #D9CCC5);
}

/* Estilos generales de la tabla */
table {
  width: 100%;
}

td {
  text-align: center;
}

.titulo-inicio{
  font-size: 35px;
  color: #74472f;
  text-align: center;
}

.card{
  height:22.5vh;
  width: 90%;
  border: solid #74472f 1.5px;
  transition: transform 0.4s ease;
}

.card:hover,
.card:focus {
  transform: scale(0.95);
}

.ultimaCarta{
  border: solid #74472f 1.5px;
  transition: transform 0.4s ease;
}

.ultimaCarta:hover,
.ultimaCarta:focus {
  transform: scale(0.95);
}

.titulo-card{
  margin-top: -9%;
}

.link{
  text-decoration: none;
}

.imagen{
  border-bottom: #74472f solid 1px;
}